body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.45);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
